<!DOCTYPE html>
<html>
	<head>
		<title><% title %></title>

		<link rel='stylesheet' href="/Semantic-UI-CSS-master/semantic.min.css" />
		<script src='/javascripts/jquery-3.4.1.min.js'></script>
		<script src='/Semantic-UI-CSS-master/semantic.min.js'></script>

		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/menu.js"></script>
		<script src="mode/javascript/javascript.js"></script>
	</head>
	<body class="uninverted">
		<% include menu.ejs %>
		<div class="ui space container">
			<h1 class="ui uninverted header" style="text-align: center">REAL CODER! <% title %></h1>
		</div>
		<p> <% title %> </p>
		<div class="ui uninverted segment">
			<div class="ui active uninverted placeholder">
				<div class="image header">
				<div class="line"></div>
				<div class="line"></div>
			</div>
			<div class="paragraph">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
			</div>
		</div>
	</body>
</html>
